body {
	background-color: grey;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	font-style: italic;
}

h1 {
	font-family: fantasy;
	font-size: 3em;
	text-align: center;
}

i {
	color: deepskyblue;
}

img {
	border-radius: 10px;
}

img:hover {
	opacity: 0.5;
}

li {
	padding-bottom: 10px;
}

li, p {
	color: white;
}

pre {
	background-color: white;
}

pre, table, th, td {
   border: 1.5px solid black;
}

ul {
	list-style: georgian;
}

li > ul {
	list-style: disc;
}

footer {
	text-align: center;
	font-style: italic;
	color: whitesmoke;
}

header {
	padding-top: 15px;
	font-size: 3.5em;
	text-align: center;
}

/*-- NAV --*/
nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav > ul > li {
    float: left;
}

nav > ul > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav > ul > li a:hover {
    background-color: #111;
}